<%- include('../partials/header') %>
    <div class="Content">

        <div class="table-responsive">

            <table class="table table-striped custom-table caption-top">
                <caption class="m-0 pt-0">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fs-2 m-0 fw-semibold">Books Store</p>
                        <a href="/addbook" class="btn btn-dark">Add Book</a>
                    </div>
                </caption>
                <thead>
                    <tr>
                        <th>Sr.</th>
                        <th>Book ID</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Stock</th>
                        <th>Price</th>
                        <th>Published @</th>
                        <th>Author</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%books && books.forEach((book, index)=> { %>
                        <tr>
                            <td>
                                <%=index + 1%>
                            </td>
                            <td>
                                <%=book.bookid%>
                            </td>
                            <td>
                                <%=book.title%>
                            </td>
                            <td>
                                <%=book.booktype%>
                            </td>
                            <td>
                                <%=book.stock%>
                            </td>
                            <td>
                                <%=book.price%>
                            </td>
                            <td>

                                <%= book.publishdate.toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                                    day: 'numeric' }) %>
                            </td>
                            <td>
                                <%=book.author%>
                            </td>
                            <td>
                                <a href="/editBook/<%= book._id %>" class="btn btn-outline-success">Edit</a>
                                <a href="/deleteBook/<%= book._id %>" class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>


    </div>

    <%- include('../partials/footer') %>